.calendar-container {
    font-family: Arial, sans-serif;
    width: 440px;
    margin: 0 auto;
    text-align: center;
    animation: fadeInUp 2s ease-out;
    position: relative;
    transition: top 2s ease-out;
    border-radius: 15px;
    background-color: white;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 60px;
}

.calendar-days div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон для видимости текста */
    transition: all 0.3s ease;
}

.highlighted {
    position: relative;
    width: 60px; /* Ширина сердечка */
    height: 60px; /* Высота сердечка */
    background-image: url('/heart-svgrepo-com.svg');
    background-size: cover;
    background-position: center;
    color: #000000; /* Цвет текста внутри сердечка */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; /* Размер текста */
    font-weight: bold;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
